@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');
@import 'tailwindcss';
@theme {
	--color-main: #1a1a2e;
	--color-accent1: #ffcb05;
	--color-accent2: #cc0000;
	--color-filling: #3d4a5f;
	--color-text: #e0e0e0;
	--color-binder: #1b1b1b;
	--color-main-transparent: #1a1a2ed2;
	--color-filling-transparent: #3d4a5f67;
	--color-accept: #4caf50;
	--color-negative: #f44336;
	--color-negative-transparent: #f4433691;
	--color-second: #23233d;
	--color-pending: #f48b36;
}
@layer base {
	html {
		font-family: 'Press Start 2P', system-ui, sans-serif;
	}
}
.form-input::before {
	content: '';
	position: absolute;
	top: -10px;
	left: -10px;
	width: 20px;
	height: 20px;
	background-image: url(../img/border-decor.png);
	background-repeat: no-repeat;
	background-size: contain;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}
.form-input::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	background-image: url(../img/border-decor.png);
	background-repeat: no-repeat;
	background-size: contain;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}
.bottom-border-decor::before {
	content: '';
	position: absolute;
	bottom: -10px;
	left: -10px;
	width: 20px;
	height: 20px;
	background-image: url(../img/border-decor.png);
	background-repeat: no-repeat;
	background-size: contain;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}
.bottom-border-decor::after {
	content: '';
	position: absolute;
	bottom: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	background-image: url(../img/border-decor.png);
	background-repeat: no-repeat;
	background-size: contain;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}
.perspective {
	perspective: 1000px;
}
.transform-style-preserve-3d {
	transform-style: preserve-3d;
}
.backface-hidden {
	backface-visibility: hidden;
}
.rotate-y-180 {
	transform: rotateY(180deg);
}

.custom-error-toast .Toastify__toast-icon svg {
	color: var(--color-negative) !important;
	fill: var(--color-negative) !important;
}
.custom-error-toast .Toastify__progress-bar--error {
	background-color: var(--color-negative);
}

.custom-success-toast .Toastify__toast-icon svg {
	color: var(--color-accept) !important;
	fill: var(--color-accept) !important;
}
.custom-success-toast .Toastify__progress-bar--success {
	background-color: var(--color-accept);
}
.custom-error-toast {
	background-color: var(--color-main) !important;
}
.custom-success-toast {
	background-color: var(--color-main) !important;
}
.custom-info-toast {
	background-color: var(--color-main) !important;
}
